.projects-area {
  padding-left: 20px;
  margin-top: 45px;
}

.projects-top-bar {
  display: flex;
  margin-bottom: 25px;
}

.projects-top-bar ul {
  display: flex;
  list-style: none;
  margin-top: 28px;
  margin-left: 40px;
}

.projects-top-bar button {
  font-family: 'Roboto Mono', monospace;
  margin-left: 15px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background: none;
}

.projects-top-bar button:hover {
  cursor: pointer;
}

.project {
  display: flex;
  margin-bottom: 75px;
}

.project img {
  width: 250px;
  height: fit-content;
  border-radius: 10px;
}

/* .mobile-shot {
  box-sizing: border-box;
  padding: 0px 30px 0px 30px;
} */

.project-info {
  margin-left: 40px;
  width: 65%;
}

.project-info h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.project-info a {
  text-decoration: none;
}

.project-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 14px;
}

.category {
  background-color: #3c40c6;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-weight: 700;
}

.project-info p {
  line-height: 26px;
}
