.contact-holder {
  padding-left: 20px;
  margin-top: 73px;
}

.contact-content {
  display: flex;
  margin-bottom: 80px;
}

.contact-text {
  width: 420px;
}

.contact-text p {
  line-height: 26px;
}

.contact-links-holder {
  margin-left: 50px;
  /* margin-top: 25px; */
}

.contact-link {
  display: flex;
}

.contact-link a {
  text-decoration: none;
  color: #ff5e57;
  font-weight: 700;
  margin-top: 21px;
  margin-left: 10px;
}

.contact-link img {
  width: 30px;
  height: 30px;
  /* border: 1px solid red; */
  margin-top: 18px;
}

#map {
  margin-bottom: 40px;
}

em {
  color: #ff5e57;
  font-weight: 700;
}
