.contact-holder-mobile {
}

.contact-holder-mobile h1 {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.contact-content-mobile p {
  width: 90%;
  text-align: justify;
  margin: 0 auto;
}

.contact-text-mobile p {
  line-height: 26px;
  margin-bottom: 20px;
}

.contact-links-holder-mobile {
  width: 90%;
  margin: 0 auto;
}

.contact-link-mobile {
  display: flex;
}

.contact-link-mobile a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-top: 21px;
  margin-left: 10px;
}

.contact-link-mobile img {
  width: 30px;
  height: 30px;
  /* border: 1px solid red; */
  margin-top: 18px;
}

#map-mobile {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

em {
  color: #ff5e57;
  font-weight: 700;
}
