.bg-holder {
  background-color: #c4c4c4;
  width: 80vw;
  margin: 0 auto;
}

.bg-inner-one {
  background-color: #0fbcf9;
  width: 78vw;
}

.bg-inner-two {
  background-color: #ffd32a;
  width: 76vw;
}

.bg-main {
  background-color: white;
  width: 74vw;
  height: 100vh;
}

nav {
  text-align: right;
}

nav a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

.intro-top {
  display: flex;
  margin-top: 50px;
}
