.bg-holder {
  background-color: #c4c4c4;
  width: 88vw;
  margin: 0 auto;
  margin-top: 25px;
}

.bg-inner-one {
  background-color: #0fbcf9;
  width: 86vw;
}

.bg-inner-two {
  background-color: #ffd32a;
  width: 84vw;
}

.bg-main {
  background-color: white;
  width: 82vw;
  height: 100vh;
  padding: 40px 50px 0px 50px;
  box-sizing: border-box;
}

nav {
  text-align: right;
}

nav a button {
  margin: 0px 30px 0px 30px;
  color: black;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.intro-top {
  display: flex;
  margin-top: 50px;
}

.intro-top > * {
  margin: 20px;
}

.intro-profile-pic {
  position: relative;
  right: -60px;
}

.intro-profile-pic img {
  height: 240px;
  width: 240px;
}

.intro-text-area h2 {
  font-size: 34px;
  width: 450px;
  margin-bottom: 12px;
}

.intro-text-area p {
  font-size: 17px;
  line-height: 26px;
  width: 500px;
}

.intro-text-area button {
  height: 40px;
  width: 200px;
  background-color: #ff5e57;
  border: none;
}

.intro-text-area h3 {
  margin: 0;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
