.bg-holder {
  background-color: #c4c4c4;
  width: 88vw;
  margin: 0 auto;
  /* margin-top: 25px; */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-top: 10px;
  max-width: 1575px;
}

.bg-inner-one {
  background-color: #0fbcf9;
  width: 86vw;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 10px;
  max-width: 1550px;
}

.bg-inner-two {
  background-color: #ffd32a;
  width: 84vw;
  border-top-right-radius: 30px;
  padding-top: 10px;
  border-top-left-radius: 30px;
  max-width: 1525px;
}

.bg-main {
  background-color: white;
  width: 82vw;
  padding: 40px 50px 40px 50px;
  box-sizing: border-box;
  min-height: calc(100vh - 25px);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  max-width: 1500px;
}

.bg-main-content {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  text-align: right;
  /* border: 1px solid red; */
}

nav a button {
  margin: 0px 30px 0px 30px;
  color: black;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background: none;
}

nav a button:hover {
  cursor: pointer;
}

.intro-top {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}

.intro-top > * {
  margin-left: 20px;
}

.intro-profile-pic {
  margin-left: 50px;
  padding-top: 50px;
}

.intro-profile-pic img {
  height: 200px;
  width: 200px;
}

.intro-text-area {
  width: 54%;
}

.intro-text-area h2 {
  font-size: 34px;
  width: 450px;
  margin-bottom: 12px;
}

.intro-text-area p {
  font-size: 16px;
  line-height: 26px;
  width: 90%;
}

.intro-text-area button {
  height: 40px;
  width: 200px;
  background-color: #ff5e57;
  border: none;
  margin-top: 30px;
  border-radius: 10px;
}

.intro-text-area button:hover {
  cursor: pointer;
}

.intro-text-area h3 {
  margin: 0;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.projects-area {
  padding-left: 20px;
  margin-top: 45px;
}

.projects-top-bar {
  display: flex;
  margin-bottom: 25px;
}

.projects-top-bar ul {
  display: flex;
  list-style: none;
  margin-top: 28px;
  margin-left: 40px;
}

.projects-top-bar button {
  font-family: 'Roboto Mono', monospace;
  margin-left: 15px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background: none;
}

.projects-top-bar button:hover {
  cursor: pointer;
}

.project {
  display: flex;
  margin-bottom: 75px;
}

.project img {
  width: 300px;
  height: fit-content;
  border-radius: 10px;
}

.mobile-shot {
  box-sizing: border-box;
  padding: 0px 30px 0px 30px;
}

.project-info {
  margin-left: 40px;
  width: 55%;
}

.project-info h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.project-info a {
  text-decoration: none;
}

.project-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 14px;
}

.category {
  background-color: #3c40c6;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-weight: 700;
}

.project-info p {
  line-height: 26px;
}

.about-holder {
  padding-left: 20px;
  margin-top: 73px;
}

.about-me {
  margin-bottom: 30px;
}

.about-me p {
  line-height: 26px;
}

.img-gallery img {
  width: 100%;
  border-radius: 10px;
}

.language-logos,
.framework-logos,
.db-logos {
  display: flex;
  column-gap: 15px;
  align-items: center;
  margin-bottom: 35px;
}

.language-logos {
  column-gap: 25px;
}

.language-logos img {
  width: 70px;
  height: fit-content;
}

.framework-logos img {
  width: 100px;
  height: fit-content;
}
.db-logos img {
  width: 110px;
  height: fit-content;
}

.contact-holder {
  padding-left: 20px;
  margin-top: 73px;
}

.contact-content {
  display: flex;
  margin-bottom: 80px;
}

.contact-text {
  width: 420px;
}

.contact-text p {
  line-height: 26px;
}

.contact-links-holder {
  margin-left: 50px;
  /* margin-top: 25px; */
}

.contact-link {
  display: flex;
}

.contact-link a {
  text-decoration: none;
  color: #ff5e57;
  font-weight: 700;
  margin-top: 21px;
  margin-left: 10px;
}

.contact-link img {
  width: 30px;
  height: 30px;
  /* border: 1px solid red; */
  margin-top: 18px;
}

#map {
  margin-bottom: 40px;
}

em {
  color: #ff5e57;
  font-weight: 700;
}

.learning-holder {
  padding-left: 20px;
  margin-top: 73px;
  width: inherit;
}

.learning-sub-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 25px;
}

.learning-sub {
  width: 250px;
  flex-grow: 1;
}

.learning-sub img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  /* height: 50px; */
}

.learning-sub p {
  line-height: 26px;
}
